<div id="page-container">

  <section id="QuemSomos">
    <div class="formulario-row" style="text-align: left;">
      <h2 id="FastTask-Somos">Somos <img src="../../assets/images/fast-task.png" alt="FastTask">,</h2>
    </div>
    <div>
      <h3 id="FastTask-P1" style="text-align: left;">Somos um time apaixonado por tecnologia e a entrega de resultados é
        uma obsessão de nossos
        consultores.</h3>
      <br>
      <h3 id="FastTask-P2" style="text-align: left;"> A entrega de Resultados está no nosso DNA. Nosso Time trabalha
        para atender os clientes,
        entregando o melhor resultado, dentro do prazo e custo esperado.</h3>
    </div>
  </section>

</div>
